<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ADD Posts
    <form action={{user.ref}} method="POST">
    <div>
    <label for="Title">Title</label>
    <input type="text" id="title" name="title" required>
  </div>
  <div>
    <label for="blogBody">Write Post</label>
    <input type="text" id="blogBody" name="blogBody" required>
  </div>
  <div>
    <label for="blogId">USER ID</label>
    <input type="text" id="blogId" name="blogId" placeholder={{user._id}} readonly>
  </div>
  
  <button type="submit">ADD POST</button>
    </form>
</body>
</html>